{% load static from staticfiles %}
{% block content %}

    <body>
        <div class="jumbotron">
            <div class="container">
                <h2>Entry Way</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h3>Hello {{player_name | safe }}</h3>
                <p>The victim: John Boddy, 37, millionaire inventor of sliced bread</p>
                <p>The crime: Boddy was hosting a dinner party for you and several other guests, and after some hubbub you found his corpse here in the entryway. It seems to have been dragged here... but from where? How did he die? And most importantly, who killed him?</p>
                <p>The mystery: Several people in this room stand to gain from his death, but who would have stooped so low as to murder their host in his own home?</p>
                <p>The suspects:</p>
                <div class="media">
                    <div class="media-left">
                        <img src="{% static 'images/avatar_col_mustard.png' %}" class="media-object" style="width:90px">
                    </div>
                    <div class="media-body">
                        {% if 'Colonel Mustard' in all_names|safe %}
                        <h4 class="media-heading">Colonel Mustard (Used)</h4>
                        {% else %}
                        <h4 class="media-heading">Colonel Mustard </h4>
                        {% endif %}
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button class="btn" onclick="setPlayerToken('Colonel Mustard')">Play as Colonel Mustard</button>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="{% static 'images/avatar_mrs_white.png' %}" class="media-object" style="width:90px">
                    </div>
                    <div class="media-body">
                        {% if 'Mrs. White' in all_names|safe %}
                        <h4 class="media-heading">Mrs. White (Used)</h4>
                        {% else %}
                        <h4 class="media-heading">Mrs. White </h4>
                        {% endif %}
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button class="btn" onclick="setPlayerToken('Mrs. White')">Play as Mrs. White</button>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="{% static 'images/avatar_prof_plum.png' %}" class="media-object" style="width:90px">
                    </div>
                    <div class="media-body">
                        {% if 'Professor Plum' in all_names|safe %}
                        <h4 class="media-heading">Professor Plum (Used)</h4>
                        {% else %}
                        <h4 class="media-heading">Professor Plum </h4>
                        {% endif %}
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button class="btn" onclick="setPlayerToken('Professor Plum')">Play as Professor Plum</button>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="{% static 'images/avatar_mrs_peacock.png' %}" class="media-object" style="width:90px">
                    </div>
                    <div class="media-body">
                        {% if 'Mrs. Peacock' in all_names|safe %}
                        <h4 class="media-heading">Mrs. Peacock (Used)</h4>
                        {% else %}
                        <h4 class="media-heading">Mrs. Peacock </h4>
                        {% endif %}
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button class="btn" onclick="setPlayerToken('Mrs. Peacock')">Play as Mrs. Peacock</button>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="{% static 'images/avatar_mr_green.png' %}" class="media-object" style="width:90px">
                    </div>
                    <div class="media-body">
                        {% if 'Mr. Green' in all_names|safe %}
                        <h4 class="media-heading">Mr. Green (Used)</h4>
                        {% else %}
                        <h4 class="media-heading">Mr. Green </h4>
                        {% endif %}
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button class="btn" onclick="setPlayerToken('Mr. Green')">Play as Mr. Green</button>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="{% static 'images/avatar_ms_scarlett.png' %}" class="media-object" style="width:90px">
                    </div>
                    <div class="media-body">
                        {% if 'Miss Scarlet' in all_names|safe %}
                        <h4 class="media-heading">Miss Scarlet (Used)</h4>
                        {% else %}
                        <h4 class="media-heading">Miss Scarlet </h4>
                        {% endif %}
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button class="btn" onclick="setPlayerToken('Miss Scarlet')">Play as Miss Scarlet</button>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <h3>Waiting for other players to join the game...</h3>
                <p>Only the game creator can start the game, if there are 2-6 people waiting</p>
                <form action="/play">
                    <input class="btn btn-primary" type="submit" value="Start Game" />
                </form>
                <button class="btn btn-primary" onclick="leaveGame()">Leave Game</button>
            </div>
        </div>
        

    </body>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        console.log("Current data, per user:");
        console.log("Message:", {{ msg | safe }});
        console.log("Game ID:", {{ game_id | safe }});
        console.log("Is Player Game Creator:", {{ is_creator | safe }});
        console.log("All Players:", {{ all_names | safe }});
        console.log("Game Status:", {{ game_status | safe }});

        //if("{{ game_status | safe }}" == "IN_PROGRESS"){
        //    location.replace("/play/");
        //};

        if(location.href.includes("game=")){
            location.replace("/customize/");
        }

        // Listen for game updates
            setInterval(function(){
                if(location.href.includes("game=")){
                    location.replace("/customize/");
                }
                else{
                    location.reload();
                }
            }, 10000);

        function setPlayerToken(name){
            url = "/customize/?token=" + name;
            $.ajax({
                type: "POST",
                url: url,
                success: function() {                    
                    if(location.href.includes("game=")){
                        location.replace("/customize/");
                    }
                    else{
                        location.reload();
                    }
                }
            });
        }

        function leaveGame(){
            url = "/customize/?leave_game=" + "True";
            $.ajax({
                type: "POST",
                url: url,
                success: function() {
                    location.replace("/");
                }
            });
        }
    </script>

{% endblock %}