{% block content %}
    <h2>Customize</h2>
    <br>
    <body>This is the game custiomize page!</body>

    <h3>If the game creator hasnt started the game yet, any play can update the game customizations</h3>

    <h3>Only the game creator can start the game, if theres 2-6 people waiting</h3>
    <br>
    <form action="/play/">
        <input type="submit" value="Start Game" />
    </form>


    <br>
    <h3>Current data, per user:</h3><br>
    Message: {{ msg }}
    <br>
    Game Id: {{ game_id }}
    <br>
    Is Player Game Creator: {{ is_creator }}


{% endblock %}