{% block content %}
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Clue-Less</h1>
                <p>Welcome to Boddy Manor! It would seem we have a murder on our hands...</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-6">
            	    <h4>Start a new investigation</h4>
            	    <input class="btn btn-primary" type="button" value="Create Game" onclick="location.href='/customize/?game=create';" />
        	    </div>
                <div class="col-xs-6">
            	    <h4>Join an existing investigation <small>({{ game_number | safe }} open)</small></h4>
                    <div id="open-games"></div>
                </div>
            </div>
        </div>
    </body>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        console.log("Current data, per user:");
        console.log("Open games:", {{ games_pending | safe }});
        console.log("Games In Progress:", {{ games_in_progress | safe }});


        var games = {{games_pending|safe}};

        for(game in games){
            var game_list = document.getElementById('open-games');
            var button = document.createElement("button");
            button.id='btn_' + games[game];
            button.innerText = "Join Game " + games[game];
            button.className = 'btn btn-primary'
            button.onclick = function(){
                location.href='/customize/?game=join&game_id='+games[game];
            };
            game_list.appendChild(button);
        }


    </script>

{% endblock %}