{% load static from staticfiles %}
{% block content %}
{% load static %}
    <!--<meta http-equiv="refresh" content="1">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script  type="text/javascript">        
        console.log("Current data, per user:");
        console.log("Game Id:", {{ game_id }});
        console.log("Is Player Game Creator:", {{ is_creator | safe }});
        console.log("Is it Player\'s turn:", {{ player_turn | safe }});
        console.log("Player Name:", {{ player_name | safe }});
        console.log("Current Player Turn:", {{ curr_player_turn | safe }});
        console.log("Did Player Move:", {{ player_moved | safe }});
        console.log("Did Player Move Due to Suggestion:", {{ player_moved_suggest | safe }});
        console.log("Player Location:", {{ player_location | safe }});
        console.log("Did Player Make a Suggestion:", {{ player_suggested | safe }});
        console.log("Others Locations:", {{ others_locations | safe }})
        console.log("Player Hand:", {{ player_hand | safe}});
        console.log("All Available Cards:", {{ available_cards | safe}});
        console.log("Solution Cards:", {{ solution_cards | safe}});
        console.log("Suggested Cards:", {{ suggested_cards | safe}});
        console.log("Refuted Card:", {{ refuted_card | safe}});
        console.log("Player Status: ", {{ player_status | safe }});
        console.log("Game Status: ", {{ game_status | safe }});
        console.log("Game Winner: ", {{ game_winner | safe }});
        console.log("Player That Just Lost: ", {{ game_loser | safe }});

        var solution_cards = {{ solution_cards | safe}};

        const idToText = {
            weapon1: {
                name: "Candlestick"
            },
            weapon2: {
                name: "Knife"
            },
            weapon3: {
                name: "Lead Pipe"
            },
            weapon4: {
                name: "Revolver"
            },
            weapon5: {
                name: "Rope"
            },
            weapon6: {
                name: "Wrench"
            },
            room1: {
                name: "Ballroom",
                connections: [
                    "hallway9", 
                    "hallway11",
                    "hallway12"
                ]
            },
            room2: {
                name: "Billiard Room",
                connections: [
                    "hallway4",
                    "hallway6",
                    "hallway7",
                    "hallway9"
                ]
            },
            room3: {
                name: "Conservatory",
                connections: [
                    "hallway8",
                    "hallway11",
                    "room8"
                ]
            },
            room4: {
                name: "Dining Room",
                connections: [
                    "hallway5",
                    "hallway7",
                    "hallway10"
                ]
            },
            room5: {
                name: "Hall",
                connections: [
                    "hallway1",
                    "hallway2",
                    "hallway4"
                ]
            },
            room6: {
                name: "Kitchen",
                connections: [
                    "hallway10",
                    "hallway12",
                    "room9"
                ]
            },
            room7: {
                name: "Library",
                connections: [
                    "hallway3",
                    "hallway6",
                    "hallway8"
                ]
            },
            room8: {
                name: "Lounge",
                connections: [
                    "hallway2",
                    "hallway5",
                    "room3"
                ]
            },
            room9: {
                name: "Study",
                connections: [
                    "hallway1",
                    "hallway3",
                    "room6"
                ]
            },
            hallway1: {
                name: getHallwayName("Hall", "Study"),
                connections: [
                    "room5",
                    "room9"
                ]
            },
            hallway2: {
                name: getHallwayName("Hall", "Lounge"),
                connections: [
                    "room5",
                    "room8"
                ]
            },
            hallway3: {
                name: getHallwayName("Study", "Library"),
                connections: [
                    "room7",
                    "room9"
                ]
            },
            hallway4: {
                name: getHallwayName("Hall", "Billiard Room"),
                connections: [
                    "room5",
                    "room2"
                ]
            },
            hallway5: {
                name: getHallwayName("Lounge", "Dining Room"),
                connections: [
                    "room8",
                    "room4"
                ]
            },
            hallway6: {
                name: getHallwayName("Billiard Room", "Library"),
                connections: [
                    "room2",
                    "room7"
                ]
            },
            hallway7: {
                name: getHallwayName("Billiard Room", "Dining Room"),
                connections: [
                    "room2",
                    "room4"
                ]
            },
            hallway8: {
                name: getHallwayName("Library", "Conservatory"),
                connections: [
                    "room7",
                    "room3"
                ]
            },
            hallway9: {
                name: getHallwayName("Billiard Room", "Ballroom"),
                connections: [
                    "room2",
                    "room1"
                ]
            },
            hallway10: {
                name: getHallwayName("Dining Room", "Kitchen"),
                connections: [
                    "room4",
                    "room6"
                ]
            },
            hallway11: {
                name: getHallwayName("Conservatory", "Ballroom"),
                connections: [
                    "room3",
                    "room1"
                ]
            },
            hallway12: {
                name: getHallwayName("Ballroom", "Kitchen"),
                connections: [
                    "room1",
                    "room6"
                ]
            },
            suspect1: {
                name: "Colonel Mustard",
                image: "{% static 'images/avatar_col_mustard.png' %}"
            },
            suspect2: {
                name: "Miss Scarlet",
                image: "{% static 'images/avatar_ms_scarlett.png' %}"
            },
            suspect3: {
                name: "Mr. Green",
                image: "{% static 'images/avatar_mr_green.png' %}"
            },
            suspect4: {
                name: "Mrs. Peacock",
                image: "{% static 'images/avatar_mrs_peacock.png' %}"
            },
            suspect5: {
                name: "Mrs. White",
                image: "{% static 'images/avatar_mrs_white.png' %}"
            },
            suspect6: {
                name: "Professor Plum",
                image: "{% static 'images/avatar_prof_plum.png' %}"
            }
        }

        const textToId = {
            "Candlestick": "weapon1",
            "Knife": "weapon2",
            "Lead Pipe": "weapon3",
            "Revolver": "weapon4",
            "Rope": "weapon5",
            "Wrench": "weapon6",
            "Ballroom": "room1",
            "Billiard Room": "room2",
            "Conservatory": "room3",
            "Dining Room": "room4",
            "Hall": "room5",
            "Kitchen": "room6",
            "Library": "room7",
            "Lounge": "room8",
            "Study": "room9",
            "Colonel Mustard": "suspect1",
            "Miss Scarlet": "suspect2",
            "Mr. Green": "suspect3",
            "Mrs. Peacock": "suspect4",
            "Mrs. White": "suspect5",
            "Professor Plum": "suspect6"
        }

        function getHallwayName(room1, room2) {
            return "Hallway between " + room1 + " and " + room2;
        }

        function addItemToList(item, listToAddTo) {
            var list = document.getElementById(listToAddTo);
            var option = document.createElement("option");
            option.text = idToText[item].name;
            option.value = item;
            list.add(option);
        }

        $(document).ready(function() {
            // construct player's hand
            playerHand = {{ player_hand | safe}};

            Object.keys(playerHand).forEach(cardType => {
                playerHand[cardType].forEach(card => {
                    $("#player-hand").append(
                        "<li>" + idToText[card].name + "</li>"
                    );
                });
            });

            // Notify player if they are the winner
            if( {{ game_status | safe }} == "COMPLETED"){
                if ({{ game_winner | safe }} == ''){
                    alert('No one has won this game...')
                }
                else{
                    alert( {{ game_winner | safe }} +" has won the game!!");
                }
                location.replace("/");
            };

            // Player's turn options
            if (!"{{ player_turn }}") {
                $(".is-players-turn").hide();
            } else {
                $(".is-players-turn").hide();
                $("#turn-options-menu").show();
            }

            // Notify player of current location
            $("#player-location-msg").text("You are in the " + idToText[{{ player_location | safe }}].name);

            //Images of player icons
            $("#player-location-img").append('<img src='+idToText[textToId[{{player_name|safe}}]].image+' class={{player_location|safe}} width=3%>');
            others_locations = {{ others_locations | safe }};
            Object.keys(others_locations).forEach(player => {
                $("#player-location-img").append('<img src='+idToText[textToId[player]].image+' class='+others_locations[player]+' width=3%>');
            });

            var player_cards = {{player_hand|safe}};

            // initialize suspect, weapon, and location options
            Object.keys(idToText).forEach(id => {
                if (id.includes("room") && !player_cards['Rooms'].includes(id)) {
                    addItemToList(id, "accuse-location");
                } else if (id.includes("suspect")) {
                    if(!player_cards['Suspects'].includes(id)){
                        addItemToList(id, "accuse-suspect");
                    }
                    addItemToList(id, "suggest-suspect");
                } else if (id.includes("weapon")) {
                    if(!player_cards['Weapons'].includes(id)){
                        addItemToList(id, "accuse-weapon");
                    }
                    addItemToList(id, "suggest-weapon");
                }
            });
            // Listen for game updates if not player's turn
            if(!{{player_turn}}) {
                if(!$.isEmptyObject( {{ suggested_cards | safe}} )){
                    var suggestion = {{suggested_cards | safe}};
                    var suggestor = {{curr_player_turn|safe}};
                    var sus = idToText[suggestion['Suspects'][0]]['name'];
                    var weapon = idToText[suggestion['Weapons'][0]]['name'];
                    var room = idToText[suggestion['Rooms'][0]]['name'];

                    var msg = "<h3>" + suggestor + " has suggested it was " + sus + "  with the " + weapon + " in the " + room + "</h3>";
                    $("#game-info").html(msg);
                    setInterval(function(){
                        $.ajax({
                            type: "GET",
                            url: "/play/",
                            success: function() {
                                location.reload();
                            }
                        });
                    }, 10000);
                }
                else if({{refuted_card | safe}} != ''){
                    var card = idToText[{{refuted_card | safe}}]['name'];
                    var msg = "<h3>Suggestion refuted with card: " + card + "</h3>";
                    $("#game-info").html(msg)

                    setInterval(function(){
                        $.ajax({
                            type: "GET",
                            url: "/play/",
                            success: function() {
                                location.reload();
                            }
                        });
                    }, 5000);
                }
                else{
                    setInterval(function(){
                        $.ajax({
                            type: "GET",
                            url: "/play/",
                            success: function() {
                                location.reload();
                            }
                        });
                    }, 5000);
                }
            }
            else{
                if({{refuted_card|safe}} != ''){
                    var msg = "<h3>Your suggestion was refuted with card: " + idToText[{{refuted_card|safe}}]['name']+ "</h3>"
                    $("#game-info").html(msg)
                }
            }
            if({{player_turn}} && 'Weapons' in {{suggested_cards|safe}}){
                    setInterval(function(){
                        $.ajax({
                            type: "GET",
                            url: "/play/",
                            success: function() {
                                location.reload();
                            }
                        });
                    }, 5000);
            }
        });

        function showTurnOptions() {
            $(".is-players-turn").hide();
            $("#turn-options-menu").show();
        }

        function move() {
            $("#move-options").empty();

            let moveOptions = idToText[{{ player_location | safe }}].connections;
            moveOptions.forEach(move => {
                var occupied = 0;
                var o = {{others_locations|safe}}

                for(x in o){
                    if(o[x] == move){occupied=1;}
                }

                if(occupied==0){
                    var move_list = document.getElementById("move-options");
                    var option = document.createElement("option");
                    option.text = idToText[move].name;
                    move_list.add(option);
                }
            });
            $("#turn-options-menu").hide();
            $("#move-options-menu").show();
        }

        function movePlayer(){
            var move = document.getElementById("move-options");
            l = idToText[{{ player_location | safe }}].connections[move.selectedIndex];

            url = "/play/?player_location="+l;

            $.ajax({
                type: "POST",
                url: url,
                success: function() {
                    location.reload();
                }
            });
        }

        function suggest() {
            $("#turn-options-menu").hide();
            $("#make-suggestion-menu").show();
        }

        function accuse() {
            $("#turn-options-menu").hide();
            $("#make-accusation-menu").show();
        }

        function refute() {
            $("#refute-options").empty();

            const playerHand = {{ player_hand | safe}};
            const suggestedCards = {{ suggested_cards | safe}};

            Object.keys(playerHand).forEach(cardType => {
                playerHand[cardType].forEach(card => {
                    //alert(card);
                    //alert(suggestedCards[cardType]);

                    if(card == suggestedCards[cardType]){
                        var refute_list = document.getElementById("refute-options");
                        var option = document.createElement("option");
                        option.text = idToText[card]['name'];
                        refute_list.add(option);
                    };
                });
            });
            $("#turn-options-menu").hide();
            $("#refute-suggestion-menu").show();
        }

        function makeAccusation() {
            var weapon = $("#accuse-weapon option:selected").text();
            var room = $("#accuse-location option:selected").text();
            var suspect = $("#accuse-suspect option:selected").text();

            if(idToText[solution_cards["Weapons"][0]]["name"] == weapon &&
               idToText[solution_cards["Rooms"][0]]["name"] == room &&
               idToText[solution_cards["Suspects"][0]]["name"] == suspect){
                alert('You Won!!!');
                url = "/play/?player_status=won";
            }
            else{
                alert('You lost...');
                url = "/play/?player_status=lost";
            };

            $.ajax({
                type: "POST",
                url: url,
                success: function() {
                    location.reload();
                }
            });
        }

        function makeSuggestion() {
            player_hand = {{player_hand|safe}};
            solution_cards = {{solution_cards|safe}};

            var weapon = textToId[$("#suggest-weapon  option:selected").text()];
            var suspect = textToId[$("#suggest-suspect option:selected").text()];
            var room = {{player_location | safe }};


            if(idToText[solution_cards["Weapons"][0]]["name"] == weapon &&
               idToText[solution_cards["Rooms"][0]]["name"] == room &&
               idToText[solution_cards["Suspects"][0]]["name"] == suspect){
                alert('You Won!!!');
                url = "/play/?player_status=won";

                $.ajax({
                   type: "POST",
                    url: url,
                    success: function() {
                        location.reload();
                    }
                });
            }
            else if(player_hand["Weapons"].includes(weapon) &&
                    player_hand["Rooms"].includes(room) &&
                    player_hand["Suspects"].includes(suspect)){
                alert('You cannot suggest only your cards...');
            }
            else if((player_hand["Weapons"].includes(weapon) || solution_cards["Weapons"].includes(weapon)) &&
                    (player_hand["Rooms"].includes(room) || solution_cards["Rooms"].includes(room)) &&
                    (player_hand["Suspects"].includes(suspect) || solution_cards["Suspects"].includes(suspect))){

                if(solution_cards["Weapons"].includes(weapon)){
                    var refute_card = weapon;
                }
                else if(solution_cards["Rooms"].includes(room)){
                    var refute_card = room;
                }
                else if(solution_cards["Suspects"].includes(suspect)){
                    var refute_card = suspect;
                }
                var url = "/play/?refute_card=" + refute_card;
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function(){
                    location.reload();
                }
            });
            }
            else{
                url = "/play/?suggest_room=" + room +
                "&suggest_weapon=" + weapon +
                "&suggest_suspect="+ suspect +
                "&suggest_suspect_name="+ $("#suggest-suspect option:selected").text();

                $.ajax({
                    type: "POST",
                    url: url,
                    success: function() {
                    location.reload();
                    }
                });
            }
        };

        function refuteSuggestion() {

            var refute_card = textToId[$("#refute-options option:selected").text()];

            var url = "/play/?refute_card=" + refute_card;
            $.ajax({
                type: "POST",
                url: url,
                success: function(){
                    location.reload();
                }
            });
        };

        function end_turn(){
            var url = "/play/?end_turn=true";
            $.ajax({
                type: "POST",
                url: url,
                success: function(){
                    location.reload();
                }
            });
        };

    </script>

    <head>
        <style>
            .board
            {
                display = block;
                top: 50%;
                left: 50%;
                width: 75%
            }
            .room1
            {
                position: absolute;
                bottom: 17%;
                left: 36.5%
            }
            .room2
            {
                position: absolute;
                bottom: 45%;
                left: 36.5%;
            }
            .room3
            {
                position: absolute;
                bottom: 17%;
                left: 16%;
            }
            .room4
            {
                position: absolute;
                bottom: 45%;
                left: 57%;
            }
            .room5
            {
                position: absolute;
                bottom: 72%;
                left: 36.5%;
            }
            .room6
            {
                position: absolute;
                bottom: 17%;
                left: 57.5%;
            }
            .room7
            {
                position: absolute;
                bottom: 45%;
                left: 16%;
            }
            .room8
            {
                position: absolute;
                bottom: 72%;
                left: 57%;
            }
            .room9
            {
                position: absolute;
                bottom: 72%;
                left: 16%;
            }
            .hallway1
            {
                position: absolute;
                bottom: 69%;
                left: 27%;
            }
            .hallway2
            {
                position: absolute;
                bottom: 69%;
                left: 47%;
            }
            .hallway3
            {
                position: absolute;
                bottom: 54%;
                left: 16%;
            }
            .hallway4
            {
                position: absolute;
                bottom: 52%;
                left: 36.5%;
            }
            .hallway5
            {
                position: absolute;
                bottom: 53%;
                left: 57.5%;
            }
            .hallway6
            {
                position: absolute;
                bottom: 38.5%;
                left: 27%;
            }
            .hallway7
            {
                position: absolute;
                bottom: 38.5%;
                left: 47%;
            }
            .hallway8
            {
                position: absolute;
                bottom: 26%;
                left: 16%;
            }
            .hallway9
            {
                position: absolute;
                bottom: 26%;
                left: 36.5%;
            }
            .hallway10
            {
                position: absolute;
                bottom: 26%;
                left: 57.5%;
            }
            .hallway11
            {
                position: absolute;
                bottom: 12.5%;
                left: 27%;
            }
            .hallway12
            {
                position: absolute;
                bottom: 12.5%;
                left: 47%;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container" id="game-info">
                {% if player_turn|lower == 'true' %}
                <h2>Your Turn</h2>
                {% else %}
                <h2>{{curr_player_turn | safe}} Turn</h2>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12 col-sm-6">
                <h3 id="player-location-msg"></h3>
                <img src="{% static 'images/board.png' %}" alt="game board picture" class="board">
                <div id="player-location-img"></div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <!-- Turn handling -->
                <div class="is-players-turn" id="turn-options-menu">

                    <h3>Turn Options</h3>
                    <div id="turn-options">

                        {% if player_moved|lower == 'false' and player_suggested|lower == 'false' and player_turn|lower == 'true' and 'Weapons' not in suggested_cards|safe %}
                            <button class="btn btn-primary" onclick="move()">Move</button>
                        {% endif %}

                        {% if player_suggested|lower == 'false' and 'room' in player_location and player_turn|lower == 'true' %}
                            {% if player_moved|lower == 'true' or player_moved_suggest|lower == 'true' %}
                                <button class="btn btn-primary" onclick="suggest()">Make a Suggestion</button>
                            {% endif %}
                        {% endif %}

                        {% if 'Weapons' not in suggested_cards|safe and player_turn|lower == 'true' %}
                        <button class="btn btn-primary" onclick="accuse()">Make an Accusation</button>
                        {% endif %}

                        <br><br>

                        {% if 'Weapons' in suggested_cards|safe and player_turn|lower == 'false'%}
                            <button class="btn btn-primary" onclick="refute()">Refute Suggestion</button>
                        {% endif %}

                        {% if 'Weapons' not in suggested_cards|safe and player_turn|lower == 'true' %}
                        <button class="btn btn-primary" onclick="end_turn()">End Turn</button>
                        {% endif %}
                    </div>
                </div>

                <div class="is-players-turn" id="move-options-menu">
                    <h3>Move Options</h3>
                    <button onclick="showTurnOptions()">Back to Turn Options</button>
                    <br><br>
                    <select id="move-options"></select>
                    <button onclick="movePlayer()">Move</button>
                    </ul>
                </div>

                <div class="is-players-turn" id="make-suggestion-menu">
                    <h3>Make a Suggestion</h3>
                    <button onclick="showTurnOptions()">Back to Turn Options</button>
                    <p>Choose one Weapon</p>
                    <select id="suggest-weapon"></select>
                    <p>Choose one Suspect</p>
                    <select id="suggest-suspect"></select>
                    <button onclick="makeSuggestion()">Suggest</button>
                </div>

                <div class="is-players-turn" id="make-accusation-menu">
                    <h3>Make an Accusation</h3>
                    <button onclick="showTurnOptions()">Back to Turn Options</button>
                    <p><em>NOTE: if you make an incorrect Accusation, you automatically lose the game.</em></p>
                    <p>Choose one Weapon</p>
                    <select id="accuse-weapon"></select>
                    <p>Choose one Suspect</p>
                    <select id="accuse-suspect"></select>
                    <p>Choose one Room</p>
                    <select id="accuse-location"></select>
                    <button onclick="makeAccusation()">Accuse</button>
                </div>

                <div class="is-players-turn" id="refute-suggestion-menu">
                    <h3>Make an Accusation</h3>
                    <button onclick="showTurnOptions()">Back to Turn Options</button>
                    <p>Choose Card from Hand</p>
                    <select id="refute-options"></select>
                    <button onclick="refuteSuggestion()">Refute</button>
                </div>
                <!-- Player hand -->
                <h3>Your Hand</h3>
                <ul id="player-hand">
                </ul>
            </div>
        </div>
    </body>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{% endblock %}