{% block content %}
    <!--<meta http-equiv="refresh" content="1">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {

        // Listen for game updates if not player's turn
        if( !{{player_turn | yesno:"true,false"}}){
            setInterval(function(){
                $.ajax({
                    type: "GET",
                    url: "/play/",
                    success: function() {
                        location.reload();
                    }
                });
                rebuke_suggestion();
            }, 5000);
        };

    });

    function make_suggestion(){
        };

    function rebuke_suggestion(){
        $.ajax({
            type: "POST",
            url: "/play/?used_card=foo"
        });
    };

    function update_player_location(){
        $.ajax({
            type: "POST",
            url: "/play/?new_location=foo"
        });
    };
    </script>

    <h2>Game</h2>
    <body>This is the game play page!</body>

    <br>
    <h3>Current data, per user:</h3><br>
    Game Id: {{ game_id }}
    <br>
    Is Player Game Creator: {{ is_creator }}
    <br>
    Is it Players turn: {{ player_turn }}
    <br>
    Player Location: {{ player_location }}
    <br>
    Others Locations: {{ others_locations }}
    <br>
    Player Hand: {{ player_hand }}
    <br>
    All Available Cards: {{ available_cards }}
    <br>
    Solution Cards: {{ solution_cards }}

{% endblock %}